obj_dir/
*.swp

testbench.*
!confirmed/**/testbench.*
dist/
pfuzz
!cmd/pfuzz
testbench
!cmd/testbench
mismatches/
analyze
!cmd/analyze
focused
!cmd/focused
mismatches.json
patterns
!cmd/patterns
ibex_*.sv
backups

tmp/

*.tmp
*.bak
*.log
*.zip
*.tar.gz
*.tar.xz
*.vcd
*.dmp

__debug_bin*

simulator.bin
module_sim_iv

vivado_*.backup.jou
vivado.jou
.Xil

report

__pycache__

confirmed/xcelium
